apiVersion: v1
kind: Service
metadata:
  name: {{ nexus_name }}
  namespace: {{ nexus_namespace }}
spec:
  selector:
    app: {{ nexus_label }}
  ports:
    - name: http
      port: 8081
      targetPort: 8081