apiVersion: v1
kind: Service
metadata:
  name: {{ registry_name }}
  namespace: {{ registry_namespace }}
spec:
  selector:
    app: {{ registry_label }}
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: NodePort