<domain type='kvm'>
  <name>{{ item.name }}</name>
  <memory unit='MiB'>{{ item.memory_mb }}</memory>
  <vcpu>{{ item.vcpus }}</vcpu>
  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <cpu mode='host-passthrough' check='none'>
    <topology sockets='1' cores='{{ item.vcpus }}' threads='1'/>
    <feature policy='require' name='svm'/>
  </cpu>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    {% for vol in item.volumes %}
    <disk type='volume' device='{{ vol.device }}'>
      <driver name='qemu' type='{{ vol.format }}'/>
      <source pool='{{ vol.pool }}' volume='{{ vol.name }}.qcow2'/>
      <target dev='{{ vol.target }}' bus='virtio'/>
    </disk>
    {% endfor %}
    {% for iface in item.interfaces %}
    <interface type='{{ iface.type }}'>
      {% if iface.type == 'network' %}
      <source network='{{ iface.network }}'/>
      {% endif %}
      <model type='virtio'/>
    </interface>
    {% endfor %}
    <console type='pty'/>
    <graphics type='vnc' port='-1' listen='0.0.0.0'/>
  </devices>
</domain>